[Desktop Entry]
Type=Application
Version=1.0
Name=Reboot
Exec=/usr/local/bin/os-master-launch reboot
Icon=/usr/local/share/os-master-desktop/icons/dock_web.png
Terminal=false
Categories=System;
