[Desktop Entry]
Type=Application
Version=1.0
Name=Settings
Exec=/usr/local/bin/os-master-launch settings
Icon=/usr/local/share/os-master-desktop/icons/dock_settings.png
Terminal=false
Categories=Settings;
